@import url('https://fonts.googleapis.com/css2?family=Exo+2:wght@300;400;500;600;700&display=swap');

:root {
  --primary-color: #000;
}

html {
  height: 100%;
  body {
    height: 100%;
    p,
    span {
      font-family: 'Exo 2', sans-serif;
    }
    span {
      // color: var(--primary-color);
      color: #0C1F4A;
    }

    #app {
      width: 100%;
      height: 100%;
      position: absolute;
      top: 0;
      left: 0;
      // padding: var(--body-padding) !important;
      padding: 3rem;
      z-index: 99;
    }

    #app #home {
      width: 100%;
      height: 100%;
      position: relative;
    }

    .animation-ease-1s {
      transition: ease 1s;
    }
    .tag {
      background: #fff;
      box-shadow: 0px 0px 10px rgba(255, 255, 255, 0.3);
      border-radius: 3px;
      display: inline-block;
      padding: 1% 2%;
    }

    // Component EmbedMusic
    #embed-music #name {
      font-size: 16px;
      font-weight: 600;
    }
    #embed-music #channel {
      font-size: 14px;
      font-weight: 400;
    }

    // Component ServerStats
    #server-stats span {
      text-transform: uppercase;
    }
    #server-stats .tag {
      padding: 4px 15px !important;
    }

    #server-stats #primary span {
      color: #FFF;
      font-size: 48px;
      font-weight: 200;
      text-shadow: 0px 0px 10px rgba(255, 255, 255, 0.8);
      margin-bottom: 1%;
    }
    #server-stats #secundary span {
      color: var(--primary-color);
      font-size: 14px;
      font-weight: 800;
      text-shadow: 0px 0px 10px rgba(255, 255, 255, 0.8);
      margin-right: 2%;
    }

    #server-stats .bg-gradient {
      margin-left: -3rem;
    }
  }
}
